table th {
    font-weight: 600;
}

table th, table td {
    padding: 6px 13px;
    border: 1px solid #d0d7de;
}

table tr {
    background-color: #ffffff;
    border-top: 1px solid hsla(210,18%,87%,1);
}

table tr:nth-child(2n) {
    background-color: #f6f8fa;
}

table img {
    background-color: transparent;
}